<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{./css/style.css}">
    <title>Home</title>
</head>
<body>
    <div class="row">
        <div style="margin:10px ;" class="col" align = "left">
            <h4 th:text="' Welcome '+ ${curUser}"></h4>
            <h4 th:text="' Your Role : '+ ${curUserRole}"></h4>
        </div>
        <h1 style="margin-top: 18px;" class="col" align = "center">Profiles List</h1>
        <div style="margin:18px 18px 0 18px;" class="col" align = "right">
            <a onclick="return confirm('Really want to logout?')" class="btn btn-warning m-2" th:href = "@{/logout}"> Logout</a>
        </div>
    </div>
    <hr>
    <div align = "center" class = "container">
        <div style = "margin-top:15px" th:if="${param.notauthorized}">
            <div class="alert alert-danger">You are not Authorized to perform this action</div>
        </div>
        <a style = "margin-top: 15px;" th:href = "@{/addProfileForm}" class="btn btn-primary mb-3"> Add Profile </a>
        <table border="2" class = "table table-striped table-responsive-md">
            <thead class = "table-dark">
                <tr>
                    <th>First Name</th> 
                    <th>Last Name</th> 
                    <th>Phone Number</th> 
                    <th>Address</th> 
                    <th>SBWS compliant</th> 
                    <th>Mandatory courses done</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="profile : ${profiles}">
                    <td th:text="${profile.firstName}"></td>
                    <td th:text="${profile.lastName}"></td>
                    <td th:text="${profile.phoneNumber}"></td>
                    <td th:utext="${profile.address.addLine1} 
                                +'<br>'+ ${profile.address.addLine2}
                                +'<br>'+ ${profile.address.city}
                                +', '+ ${profile.address.country}
                                +'<br> <b>Pincode :</b> '+ ${profile.address.pincode}"></td>
                    <td th:text="${profile.isSBWSCompliant}?'YES':'NO'"></td>
                    <td th:text="${profile.areMandatoryCoursesDone}?'YES':'NO'"></td>
                    <td>
                        <a th:href="@{/updateProfileForm/{id}(id=${profile.id})}" class = "btn btn-primary btn-sm mb-3">Edit</a> 
                        <br>
                        <a onclick="return confirm('Are you sure?')"th:href="@{/deleteProfile/{id}(id=${profile.id})}" class="btn btn-danger btn-sm mb-3">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(profiles)}" class="alert alert-danger" role="alert">
            <p>No Profile Found</p>
        </div>
    </div>
</body>
</html>