<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{./css/style.css}">
    <title>Login</title>

</head><body>
    <h2 align = "center" style="margin-top: 10px;" >Login Here</h2>
        <hr>
    <div class="container" align = "center">
        <div style = "margin-top:15px" th:if="${param.error}" class = "alert alert-danger">
            Invalid Credentials
        </div>
        <div style = "margin-top:15px" th:if="${param.logout}" class = "alert alert-success">
            You have been logged out
        </div>
        <form th:action = "@{/signin}" method="POST" style="margin-top:100px">
            <!-- <label>Username</label> -->
            <input required="true" type="text" name="username" placeholder="Username" class="form-control mb-4 col-4">
            <!-- <label>Password</label> -->
            <input required="true" type="password" name="password" placeholder="Password" class="form-control mb-4 col-4">
            <button href="#" type="submit" class="btn btn-info col-2"> Sign in</button>
            <br><br>
            <span>Not registered? <a href="/register" >Register here</a>
            </span>
        </form>
    </div>
</body>
</html>